[submodule "CMP"]
	path = ExternalProjects/CMP
	url=../CMP.git
[submodule "SIMPL"]
	path = ExternalProjects/SIMPL
	url=../SIMPL.git
	branch = feature/RedesignVisualization
[submodule "SIMPLView"]
	path = ExternalProjects/SIMPLView
	url=../SIMPLView.git
	branch = feature/RedesignVisualization
[submodule "SIMPLVtkLib"]
	path = ExternalProjects/SIMPLVtkLib
	url=../SIMPLVtkLib.git
	branch = feature/MultipleSelection